@import "../scss/font.scss";

$MainFontFamily : "PoppinsRegular";
$BoldFontFamily : "PoppinsBold";
$ExtraBoldFontFamily : "PoppinsExtraBold";
$LightFontFamily : "PoppinsLight";

$PrimarlyColor : #572AD7;
$SecondColor : white;

$MainTextColor : black;
$SecondTextColor : #572AD7;
$ThirdTextColor : white;


$Red : red;
$Green : Green;
$h-100-vh:100vh;