<div id="divWeatherMain"> 
    <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
        <i class="icon icon-sun sun"></i>  
    </div>   
    <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
        <i class="icon icon-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="icon icon-cloud cloud"></i>
    </div>

    <div class="weatherInfo">
        <div class="weatherName">{{weatherData.name}}</div>
        <div class="weatherMaxTemp" >Max  {{weatherData.temp_max}}°</div>
    
        <div class="weatherTemp" >{{weatherData.temp_celcius}}°</div>
        <div class="weatherMinTemp" >Min {{weatherData.temp_min}}°</div>

    </div>
   
</div>



