
    <div class="modal-header">
      <h4 class="modal-title pull-left">Valider</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
       
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div class="form-check" >
              <input type="radio" class="form-check-input" id="radio1" name="optionradio" value="option1" checked >
              <label class="form-check-label" for="radio1">Payent</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="radio2" name="optionradio" value="option2">
              <label class="form-check-label" for="radio2">Gratuit</label>

            </div>
            <div>
                <label class="form-label" >Prix</label></div>
                <div>
                <input type="number" class="form-control" name="prix">
               
                
              </div>

            <div class="modal-footer">
                
                <button type="button" class="btn btn-PrimarlyColor"  >confirm</button>
                
              </div>
          </form>
    </div>
