@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x0oag');
  src:  url('fonts/icomoon.eot?x0oag#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x0oag') format('truetype'),
    url('fonts/icomoon.woff?x0oag') format('woff'),
    url('fonts/icomoon.svg?x0oag#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e90c";
}
.icon-addTicket:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e909";
}
.icon-moon:before {
  content: "\e908";
}
.icon-addService:before {
  content: "\e907";
}
.icon-validation:before {
  content: "\e904";
}
.icon-services:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e905";
}
.icon-calender:before {
  content: "\e906";
}
.icon-notification:before {
  content: "\e900";
}
.icon-hide:before {
  content: "\e901";
}
.icon-menue:before {
  content: "\e90a";
}
.icon-Vector:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e902";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-mail:before {
  content: "\e945";
}
.icon-history:before {
  content: "\e94d";
}
.icon-search:before {
  content: "\e986";
}
.icon-delete:before {
  content: "\e9ac";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-dropbox:before {
  content: "\eaae";
}
