@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8wg73l');
  src:  url('fonts/icomoon.eot?8wg73l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8wg73l') format('truetype'),
    url('fonts/icomoon.woff?8wg73l') format('woff'),
    url('fonts/icomoon.svg?8wg73l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e94d";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-file-pdf:before {
  content: "\eadf";
}
