@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rv5s1t');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rv5s1t#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rv5s1t') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rv5s1t') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rv5s1t##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-hide {
  &:before {
    content: $icon-hide; 
  }
}
.icon-addService {
  &:before {
    content: $icon-addService; 
  }
}
.icon-validation {
  &:before {
    content: $icon-validation; 
  }
}
.icon-services {
  &:before {
    content: $icon-services; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-calender {
  &:before {
    content: $icon-calender; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked; 
  }
}
.icon-exit {
  &:before {
    content: $icon-exit; 
  }
}

