$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\e900";
$icon-bell: "\e901";
$icon-home: "\e902";
$icon-pencil: "\e905";
$icon-history: "\e94d";
$icon-calendar: "\e953";
$icon-search: "\e986";
$icon-bin2: "\e9ad";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-checkmark: "\ea10";
$icon-exit: "\ea14";
$icon-mail3: "\ea85";
$icon-dropbox: "\eaae";
$icon-file-pdf: "\eadf";

