$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-pdf: "\e90c";
$icon-addTicket: "\e90d";
$icon-sun: "\e909";
$icon-moon: "\e908";
$icon-addService: "\e907";
$icon-validation: "\e904";
$icon-services: "\e903";
$icon-edit: "\e905";
$icon-calender: "\e906";
$icon-notification: "\e900";
$icon-hide: "\e901";
$icon-menu: "\e90a";
$icon-Vector: "\e90b";
$icon-home: "\e902";
$icon-ticket: "\e939";
$icon-mail: "\e945";
$icon-history: "\e94d";
$icon-search: "\e986";
$icon-delete: "\e9ac";
$icon-cloud: "\e9c1";
$icon-eye-blocked: "\e9d1";
$icon-exit: "\ea14";
$icon-checkmark: "\ea10";
$icon-dropbox: "\eaae";

