<div class="chart">
    <div class="content ">
        <q></q>
        <ngx-charts-line-chart  [view]="[300,250]" [results]="multiData" 
        [xAxis]="showXAxis" [yAxis]="showXAxis">
        </ngx-charts-line-chart>

       

    </div>
    <div class="content">
        <ngx-charts-pie-chart [results]="singleData" [doughnut]="doughnut" [legend]="legend"
        [legendTitle]="legendTitle" 
        [view]="[220,210]"
        [legendPosition]="legendPosition" 
       >
        </ngx-charts-pie-chart>
       

    </div>
   
    
</div>

	