@use "/src/assets/scss/variables" as v;

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50vw;
    margin-left:20vm ;
    grid-gap:1rem; 
    margin-top: 4rem;
   
}
    .cardSingle{
        display: flex;
        justify-content:space-between;
        padding: 1.5rem;
        width: 300px;
        height: 110px;
        border-radius: 10px;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
        background-color: v.$SecondColor;
        h1{
            font-family: "PoppinsBold";
            font-size: 30px;
        }
        .ticketStatu{
            font-family: "Poppins";
            font-size: 18px;
        }
    }
       

    .number{
        font-family: 'PoppinsExB' ;
        font-size: 1rem;

    }
    .ticketStatu{
        font-family: 'PoppinsRegular';
        font-size: 0.8rem;
        margin-top: 3px;
    }
   
    
@media only screen and (max-width: 500px){
    .cards{
        width:100%;
        margin-left: 0px;
       
    }
    

}
