.card{
    position: relative;
    padding:10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-style: none;
    max-width: 200px;
 
     .number{
        font-family: 'PoppinsExB' ;
        font-size: 1rem;

    }
    .ticketStatu{
        font-family: 'PoppinsRegular';
        font-size: 0.8rem;
        margin-top: 3px;
    }

 
    
    
}