<div #SidebarHeader class="sidebarHeader short">
  <img src="assets/Images/Logo-Proxym.svg" alt="Logo Proxym">
  <span class="icon-menu fs-30" (click)="toggle()"></span>
</div>

<nav #MainSidebar class="sidebar hide">
  <ul>
    <li [classList]="link.active" *ngFor="let link of links"><a class="fs-18" [href]="link.route"><span [classList]="link.class"></span>{{link.name}}</a></li>
  </ul>
</nav>

<nav #ClosedSideBar class="sidebar sidebarClosed">
  <ul>
    <li [classList]="link.active" *ngFor="let link of links"><a class="fs-18" [href]="link.route"><span [classList]="link.class"></span></a></li>
  </ul>
</nav>
