@use "src/assets/scss/variables" as var;

.active {
  background-color: var.$PrimarlyColor;
  * {
    color: var.$SecondColor;
  }
  &::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    top: 100%;
    right: 0;
    background-color: var.$SecondColor;
    border-top-right-radius: 15px;
    box-shadow: 0 -17px 0 var.$PrimarlyColor;
  }

  &::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 100%;
    right: 0;
    background-color: var.$SecondColor;
    border-bottom-right-radius: 15px;
    box-shadow: 0 17px 0 var.$PrimarlyColor;
  }
}

.SideBarBody {

  ul {
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;

    li {
      margin: 30px 0;
      padding: 10px;
      width: 300px;
      position: relative;

      &:hover::before {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 100%;
        right: 0;
        background-color: var.$SecondColor;
        border-top-right-radius: 15px;
        box-shadow: 0 -17px 0 var.$PrimarlyColor;
      }

      &:hover::after {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        bottom: 100%;
        right: 0;
        background-color: var.$SecondColor;
        border-bottom-right-radius: 15px;
        box-shadow: 0 17px 0 var.$PrimarlyColor;
      }

      a {
        color: var.$PrimarlyColor;
        text-decoration: none;
        padding: 15px 160px 15px 30px;
        text-align: left;
        font-family: var.$MainFontFamily;

        .linkTitle {
          padding: 10px;
        }
      }

      &:last-child{
        margin-top: 5vh;
        border-top: 2px solid var.$PrimarlyColor;

        &:hover {
          border: none;
        }
      }

      &:hover{
        background-color: var.$PrimarlyColor;
        * {

          color: var.$SecondColor;
        }
      }


    }

  }
}
