<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar #sidebar [(opened)]="opened" mode="push" [dock]="true" dockedSize="100px" [animate]="true">

    <div class="sideBarHeader">
      <img src="assets/Images/Logo-Proxym.svg">
      <button (click)="toggleSidebar()"><span class="icon-menu fs-25"></span></button>
    </div>

    <div class="SideBarBody">
      <ul>
        <li [classList]="link.active"  *ngFor="let link of links">
          <a [href]="link.route">
            <span [classList]="link.class"></span>
            <span class="linkTitle fs-18">{{link.name}}</span>
          </a>
        </li>
      </ul>
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>
