@import "src/assets/scss/variables";


ng-sidebar-container {
  height: 100vh;

  .active {
    background-color: $PrimarlyColor;
    * {
      color: $SecondColor;
    }
    &::before {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      top: 100%;
      right: 0;
      background-color: $SecondColor;
      border-top-right-radius: 15px;
      box-shadow: 0 -17px 0 $PrimarlyColor;
    }

    &::after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      bottom: 100%;
      right: 0;
      background-color: $SecondColor;
      border-bottom-right-radius: 15px;
      box-shadow: 0 17px 0 $PrimarlyColor;
    }
  }



  .sideBarHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: $PrimarlyColor;
    }
  }

  ul {
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;

    li {
      margin: 30px 0px;
      padding: 10px;
      width: 300px;
      position: relative;

      &:hover::before {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 100%;
        right: 0;
        background-color: $SecondColor;
        border-top-right-radius: 15px;
        box-shadow: 0 -17px 0 $PrimarlyColor;
      }

      &:hover::after {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        bottom: 100%;
        right: 0;
        background-color: $SecondColor;
        border-bottom-right-radius: 15px;
        box-shadow: 0 17px 0 $PrimarlyColor;
      }

      a {
        color: $PrimarlyColor;
        text-decoration: none;
        padding: 15px 160px 15px 30px;
        text-align: left;
        font-family: $MainFontFamily;

        .linkTitle {
          padding: 10px;
        }
      }

      &:last-child{
        margin-top: 5vh;
        border-top: 2px solid $PrimarlyColor;

        &:hover {
          border: none;
        }
      }

      &:hover{
        background-color: $PrimarlyColor;
        * {

          color: $SecondColor;
        }
      }


    }

  }

}

::ng-deep .ng-sidebar {
  background-color: white;
  width: 300px;
}

::ng-deep .ng-sidebar--docked {
  width: 100px;


  li {
    width: 100px !important;
  }

  img {
    display: none;
  }

  .linkTitle{
    display: none;
  }
}
