<!--TODO:: Add test on user role to show AdminPanel or hide it-->

<div class="container d-flex flex-column align-items-center">
  <div class="AdminPanel container row mb-4">
    <div class="d-flex justify-content-around align-items-center">
      <button>Add Service</button>
    </div>
  </div>

  <div class="ServicesCards container row">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="Card" *ngFor="let i of [0,1,2,3,5,6]">
        <div class="Serviceimg">
          <img src="assets/Images/ServiceImageTest.svg">
        </div>
        <div class="ServiceInfo">
          <p>Name: McDonald's</p>
          <p>Tel: +216 70 568 266</p>
          <p>Adress: Sahloul, Sousse</p>
        </div>
      </div>
    </div>
  </div>
</div>
