@use "src/assets/scss/variables" as var ;
.AdminPanel {
  height: 100px;
  background-color: white;
  box-shadow: var.$bs;
  border-radius: 15px;

  button {
    background-color: var.$PrimarlyColor;
    color: var.$SecondColor;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
  }
}

.ServicesCards {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 15px;

}


.Card {
  margin: 40px;
  .Serviceimg {
    overflow: hidden;
  }

  .ServiceInfo {
    padding: 10px;
    background-color: var.$SecondColor;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
