/* You can add global styles to this file, and also import other style files */


/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Mytickets Icons */
@import "../src/assets/fonts/MyTicketsIcons/style.scss";

@import "../src/assets/scss/font.scss";

@import "assets/scss/variables";
@import"assets/scss/bootstrapOverRide.scss";
@import "assets/scss/bootstrap_dependencies.scss";



* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $PrimarlyColor;
}
