@import "src/assets/scss/variables";




ng-sidebar-container {
  height: 100vh;

  .sideBarHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    width: 300px;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: $PrimarlyColor;
    }
  }

}

.sideBarHeaderMobile {
  display: none;
}

.overlay {
  overflow: hidden;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 100;
}




::ng-deep .ng-sidebar {
  background-color: white;
  width: 300px;
}

::ng-deep .ng-sidebar--docked {
  width: 100px;

  .sideBarHeader{
    width: 100px !important;
    img {
      display: none;
    }
  }

  li {
    width: 100px !important;
  }

  .linkTitle{
    display: none;
  }
}

.DisplayLayout {
  margin-top: 25px;
}

@media screen and (max-width: 500px) {
  .DisplayLayout {
    margin-top: 100px;
  }

  ng-sidebar-container {
    .sideBarHeader {
      display: none;
    }
  }

  .sideBarHeaderMobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: $SecondColor;
    position: fixed;
    width: 100vw;
    z-index: 100;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: $PrimarlyColor;
    }
  }

  ::ng-deep .ng-sidebar {
    margin-top: 70px;
    z-index: 100;
  }

}
